# Ignore virtual environment folders named 'venv' anywhere in the project
venv/
**/venv/

# Ignore __pycache__ directories everywhere
__pycache__/
**/__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Editor and system-specific files
.vscode/
.DS_Store
Thumbs.db
.gitignore